@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Noto+Sans:wght@400;700&family=Roboto:wght@100;300;400;500&family=Syne+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 40px 4%;
    font-family: 'Fredoka', sans-serif;
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    text-align: center;
    text-transform: uppercase;
}



section h1{
    letter-spacing: 4px;
    margin-bottom: 60px;
    color: #2f776b;
    font-family: 'Noto Sans', sans-serif;
}
#image_one{
    background-image: url(./images/canada.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box
}

span{
    background-color: rgba(0, 0, 0, 0.575);
    font-size: 3rem;
    letter-spacing: 8px;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.788);
}
#image_two{
    background-image: url(./images/canada2.jpg);
}
#image_three{
    background-image: url(./images/lago.jpg);
}
#image_four{
    background-image: url(./images/night.jpg);

}