@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner{
    width: 330px;
    height: 550px;
    background-color: hsl(216, 50%, 16%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 40px 10px rgba(0, 0, 0, 0.363);
}
.img{
    text-align: center;
}

.img img{
    width: 100%;
    border-radius: 15px;
    
}

.content{
    width: 85%;
    height: 95%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

.title{
    width: 100%;
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
}
.span{
    width: 100%;
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.span span{
    color: hsl(215, 51%, 70%);
}

.eth{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.eth span:nth-child(1){
    color:aqua;
}

.eth span:nth-child(2){
    color: hsl(215, 51%, 70%);
}

hr{
    border-width: 0;
    height: 1px;
    width: 100%;
    background-color: hsl(215, 51%, 70%);
}

.user{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.user img{
    width: 50px;
    border: solid 1px white;
    border-radius: 50%;
}

.user span{
    color: hsl(215, 51%, 70%);
}

.user a{
    text-decoration: none;
    color: white;
}

